body{
    margin:0px 0px 0px 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #01a166;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    transition: 3s;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    width: 10%;
    height: 10%;
}

header:hover{
    background-color: #04AA6D;
    transition: 3s;
}

h1{
    text-align: center;
    color: #ddd;
    font-size: 400%;
    padding: 6px 6px 6px 6px;
    margin: 0px 0px 0px 0px;
}

nav{
    position: sticky;
    top: 0;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    padding-left: 75px;
    padding-right: 75px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
    transition: 1s;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
}

.main-game{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.display{
    margin-bottom: 2%;
}

.control{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.row{
    display: flex;
}

button{
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: black;
    border: 1px solid white;
}
button:hover{
    background-color: white;
}

#start,#stop,#clear{
    background-color: white;
    width: 20%;
    height: 20%;
    font-size: 150%;
    border-radius: 5px;
}

#clear:hover{
    background-color: #04be7a;
    transition: 1s;
}

#stop:hover{
    background-color: #04be7a;
    transition: 1s;
}

#start:hover{
    background-color: #04be7a;
    transition: 1s;
}

h6{
    margin: 5px 5px 5px 5px;
}

li{
    color: #f2f2f2;
    font-size: 150%;
    padding-bottom: 15px;
}

footer{
    background-color: #01a166;
    color: #ddd;
    display: flex;
    padding: 1% 1% 1% 1%;
    margin-top: 5%;
}

h4{
    font-size: 150%;
}

.about{
    color: #ddd;
    font-size: 100%;
    padding: 25px 25px 25px 25px;
}

.aul{
    font-size: 70%;
}

.social{
    color: #ddd;
    font-size: 160%;
    display: flex;
    flex-direction: column;
    padding: 4% 4% 4% 4%;
    justify-content: space-around;
    align-items: center;
}

.oscillators{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;
}

.oscillators img{
    width: 19%;
}

.spaceships{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.spaceships img{
    width: 20%;
}